<!-- start banner Area -->
<section class="banner-area relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Thông tin xe chi tiết
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start model Area -->
<section class="model-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 align-items-center single-model item">
        <div class="model-right">
          <div class="model-right">
            <img class="img-fluid " [src]="vehicleDetail.url" />
          </div>
          <div class="title justify-content-between d-flex">
            <h4 class="mt-20">{{ vehicleDetail.name }}</h4>
          </div>
        </div>
        <div class="model-left">
          <div class="row mt-xlg">
            <div class="col-md-12">
              <div class="mb-md mg-tb">
                <h4 class="b-tit">TÍNH NĂNG</h4>
                <div class="row i-lg mg-tb">
                  <div class="col-lg-4 col-md-6 mb-md">
                    <img
                      src="../../assets/img//ic-brakes.png"
                      alt="Điều hoà (A/C) "
                      class="vhc_icon"
                    /><span>Điều hoà (A/C) </span>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-md">
                    <img
                      src="../../assets/img//ic-gprs.png"
                      alt="Định vị (GPS) "
                      class="vhc_icon"
                    /><span>Định vị (GPS) </span>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-md">
                    <img
                      src="../../assets/img//ic-bluetooth.png"
                      alt="Bluetooth "
                      class="vhc_icon"
                    /><span>Bluetooth </span>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-md">
                    <img
                      src="../../assets/img//ic-usb.png"
                      alt="Khe cắm USB"
                      class="vhc_icon"
                    /><span>Khe cắm USB</span>
                  </div>
                </div>
              </div>
              <div class="mb-md mg-tb">
                <h4 class="b-tit">THỦ TỤC</h4>
                <div class="row i-lg">
                  <div class="col-lg-4 col-md-6 mb-md">
                    <span style="float: left;"
                      ><img
                        src="../../assets/img//CMND.png"
                        alt="procedure"
                        class="vhc_icon"/></span
                    ><span style="float: left; width: auto;margin-top: 8px;"
                      >CMND</span
                    >
                  </div>
                  <div class="col-lg-4 col-md-6 mb-md">
                    <span style="float: left;"
                      ><img
                        src="../../assets/img//ic-cmnd.png"
                        alt="procedure"
                        class="vhc_icon"/></span
                    ><span style="float: left; width: auto;margin-top: 8px;"
                      >Sổ hộ khẩu</span
                    >
                  </div>
                  <div class="col-lg-4 col-md-6 mb-md">
                    <span style="float: left;"
                      ><img
                        src="../../assets/img//banglai.png"
                        alt="procedure"
                        class="vhc_icon"/></span
                    ><span style="float: left; width: auto;margin-top: 8px;"
                      >Bằng lái</span
                    >
                  </div>
                  <div class="col-lg-4 col-md-6 mb-md">
                    <span style="float: left;"
                      ><img
                        src="../../assets/img//ic-money.png"
                        alt="procedure"
                        class="vhc_icon"/></span
                    ><span style="float: left; width: auto;margin-top: 8px;"
                      >Đặt cọc</span
                    >
                  </div>
                </div>
              </div>
              <div class="mb-md mg-tb">
                <h4 class="b-tit">CHẤP NHẬN THANH TOÁN</h4>
                <div class="row i-lg">
                  <div class="col-lg-4 col-md-6 mb-md">
                    <span style="float: left;"
                      ><img
                        src="../../assets/img//ic-money.png"
                        alt="payment"
                        class="vhc_icon"/></span
                    ><span style="float: left; width: 73%;margin-top: 8px;"
                      >Trả sau</span
                    >
                  </div>
                </div>
              </div>
              <div class="mb-md mg-tb">
                <h4 class="b-tit">GHI CHÚ</h4>
                <div>
                  <p>- CMND: Bản gốc</p>
                  <p>- Sổ hộ khẩu: Bản Gốc hoặc KT3 hoặc GPKD</p>
                  <p>- Bằng lái: B2 trở lên</p>
                  <p>
                    - Đặt cọc: Xe máy + giấy đăng ký xe trên 20 triệu học đặt
                    cọc tiền mặt
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 sidebar section-gap">
        <div class="single-widget">
          <h4 class="protfolio-widget text-uppercase">Giá cả và thủ tục</h4>
          <div class="">
            <h4 class="text-white pb-30">Đặt xe ngay hôm nay!</h4>
            <div class="form">
              <div class="form-group row">
                <div class="col-md-12">
                  <div>
                    <h4 class="mg-bottom-lb">Địa điểm nhận xe:</h4>
                    <span class="mg-text">{{
                      vehicleDetail.showroomName
                    }}</span>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <div>
                    <h4 class="mg-bottom-lb">Thời gian nhận xe:</h4>
                    <span class="mg-text">{{ startDate }}</span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <h4 class="mg-bottom-lb">Thời gian trả xe:</h4>
                  <span class="mg-text">{{ endDate }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <button
                type="button"
                class="btn primary-btn btn-lg btn-block text-center text-uppercase mg-top-btn"
                (click)="bookCar()"
              >
                Đặt xe
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End model Area -->
