<!-- start banner Area -->
<section class="banner-area relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Thông tin xe chi tiết
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start model Area -->
<section class="model-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 align-items-center single-model item">
        <div class="model-right">
          <img class="img-fluid" [src]="vehicleDetail.url" />
        </div>
        <div class="model-left">
          <div class="title justify-content-between d-flex">
            <h4 class="mt-20">{{ vehicleDetail.name }}</h4>
          </div>
          <p>
            Capacity : 04 Person <br />
            Doors : 04 <br />
            Air Condition : Dual Zone <br />
            Transmission : Automatic
          </p>
        </div>
      </div>
      <div class="col-lg-4 sidebar">
        <div class="single-widget">
          <h4 class="protfolio-widget text-uppercase">Giá cả và thủ tục</h4>
          <div class="">
            <h4 class="text-white pb-30">Đặt xe ngay hôm nay!</h4>
            <div class="form">
              <div class="form-group row">
                <div class="col-md-12">
                  <p>Địa điểm nhận xe: {{ vehicleDetail.showroomName }}</p>
                </div>
              </div>
              
              <div class="form-group row">
                <div class="col-md-12">
                  <p>Thời gian nhận xe: {{ startDate }}</p>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <p>Thời gian trả xe: {{ endDate }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <button
                type="button"
                class="btn primary-btn btn-lg btn-block text-center text-uppercase"
                (click)="bookCar()"
              >
                Đặt xe
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End model Area -->
