<section class="banner-area relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Car Rental Guide
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="blog-posts-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 post-list blog-post-list">
        <div class="single-post">
          <h1>
            Hướng dẫn thuê xe
          </h1>
          <div class="whole-wrap">
            <div class="container">
              <div class="single-feature">
                <div class="row align-items-center single-model item">
                  <div class="col-lg-6 model-left">
                    <img
                      class="img-fluid"
                      src="../../assets/img/car.jpg"
                      alt=""
                    />
                  </div>
                  <div class="col-lg-6 model-right">
                    <div class="title justify-content-between d-flex">
                      <h4 class="mt-20">Tìm xe</h4>
                    </div>
                    <p>
                      Truy cập website lựa chọn thời gian và địa điểm bạn cần thuê xe.
                    </p>
                  </div>
                </div>
              </div>
              <div class="single-feature">
                <div class="row align-items-center single-model item">
                  <div class="col-lg-6 model-left">
                    <div class="title justify-content-between d-flex">
                      <h4 class="mt-20">Đặt xe</h4>
                    </div>
                    <p>
                      Dựa trên hệ thống so sánh giá, lựa chọn chiếc xe ưng ý và gửi yêu cầu về cho chúng tôi.
                    </p>
                  </div>
                  <div class="col-lg-6 model-right">
                    <img
                      class="img-fluid"
                      src="../../assets/img/car.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="single-feature">
                <div class="row align-items-center single-model item">
                  <div class="col-lg-6 model-left">
                    <img
                      class="img-fluid"
                      src="../../assets/img/car.jpg"
                      alt=""
                    />
                  </div>
                  <div class="col-lg-6 model-right">
                    <div class="title justify-content-between d-flex">
                      <h4 class="mt-20">Nhận xe</h4>
                    </div>
                    <p>
                      Hoàn tất thủ tục thuê, nhận xe & bắt đầu hành trình. Bạn có thể nhận xe tại nhà hoặc đại lí của chúng tôi.
                    </p>
                  </div>
                </div>
              </div>
              <div class="single-feature">
                <div class="row align-items-center single-model item">
                  <div class="col-lg-6 model-left">
                    <div class="title justify-content-between d-flex">
                      <h4 class="mt-20">Trả xe</h4>
                    </div>
                    <p>
                      Trả xe sau khi kết thúc hành trình. Chấm điểm dịch vụ để cải thiện chất lượng.
                    </p>
                  </div>
                  <div class="col-lg-6 model-right">
                    <img
                      class="img-fluid"
                      src="../../assets/img/car.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
