
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="single-footer-widget">
        <h6> Thông tin liên hệ</h6>
        <p>Địa chỉ: 143 Chính Kinh, Thanh Xuân, Hà Nội</p>
        <p>Email: thuynguyenbk60@gmail.com</p>
        <p>Điện thoại: 0359767383</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="single-footer-widget">
        <h6>Hỗ trợ khách hàng</h6>
        <p>Tổng đài CSKH (8h00-22h00 hàng ngày)</p>
        <p>Hotline: 0459767383</p>
        <p>thuynguyenbk60@gmail.com</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="single-footer-widget">
        <h6>Chính sách</h6>
        <p>Chính sách bảo mật thông tin</p>
        <p>Quy chế hoạt động</p>
        <p>Sự cố và khiếu nại</p>
      </div>
    </div>
    <p class="mt-50 mx-auto footer-text col-lg-12">
      Bản quyền © 2020 thuộc về VinID.
    </p>
  </div>
</div>

