
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="single-footer-widget">
        <h6> Thông tin liên hệ</h6>
        <p>Địa chỉ: Tập đoàn Vingroup số 7 Đường Bằng Lăng 1, Việt Hưng, Quận Long Biên, Hà Nội</p>
        <p>Email: cskh@vinid.net</p>
        <p>Điện thoại: 024-39749999</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="single-footer-widget">
        <h6>Hỗ trợ khách hàng</h6>
        <p>Tổng đài CSKH (8h00-22h00 hàng ngày)</p>
        <p>Hotline KHTT: 1900 6959</p>
        <p>Hotline VIP: 1800 6599</p>
        <p>Với cuộc gọi từ nước ngoài: (+84)2473087999</p>
        <p>Email KHTT: cskh@vinid.net</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="single-footer-widget">
        <h6>Chính sách</h6>
        <p>Chính sách bảo mật thông tin</p>
        <p>Quy chế hoạt động</p>
        <p>Sự cố và khiếu nại</p>
      </div>
    </div>
    <p class="mt-50 mx-auto footer-text col-lg-12">
      Bản quyền © 2020 thuộc về VinID.
    </p>
  </div>
</div>

