<section class="banner-area relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Thông tin tài khoản
        </h1>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row my-2">
    <div class="col-lg-8 order-lg-2">
      <div class="tab-content py-4">
        <div class="tab-pane active">
          <form
            class="text-center border border-light p-5 form"
            [formGroup]="formUpdate"
          >
            <input
              type="text"
              class="form-control mb-4"
              placeholder="Tên đăng nhập"
              formControlName="username"
              [value]="userInfo.username"
              disabled
            />

            <input
              type="email"
              class="form-control mb-4"
              placeholder="Địa chỉ E-mail"
              formControlName="email"
              [value]="userInfo.email"
            />

            <input
              type="password"
              class="form-control mb-4"
              placeholder="Mật khẩu"
              aria-describedby="defaultRegisterFormPasswordHelpBlock"
              formControlName="password"
            />

            <input
              type="text"
              class="form-control mb-4"
              placeholder="Số điện thoại"
              aria-describedby="defaultRegisterFormPhoneHelpBlock"
              formControlName="phone"
              [value]="userInfo.phone"
            />

            <input
              type="text"
              class="form-control mb-4"
              placeholder="Địa chỉ"
              formControlName="address"
              [value]="userInfo.address"
            />

            <div class="form-group row">
              <div class="col-md-12">
                <button
                  type="button"
                  class="btn btn-default btn-lg btn-block text-center text-uppercase"
                  [disabled]="formUpdate.invalid"
                  (click)="updateUser()"
                >
                  Cập nhật thông tin
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4 order-lg-1 text-center mt-10">
      <img
        [src]="userInfo.url"
        class="mx-auto img-fluid img-circle d-block image-upload"
        alt="avatar"
      />
      <h6 class="mt-2">Cập nhật ảnh đại diện</h6>

      <div class="custom-file ">
        <input
          type="file"
          class="custom-file-input"
          (change)="handleFileInput($event.target.files)"
        />
        <label class="custom-file-label" for="inputGroupFile01">
          Chọn ảnh tải lên
        </label>
      </div>
    </div>
  </div>
</div>
